@media (max-width: 576px) { 
    .navbar .btn{
        padding: 3px 6px;
    }

    .navbar .btn img{
        width: 40px;
        height: 40px;
    }

    .top{
        flex-direction: column;
    }
    
    .lf {
        position: absolute;
    }
    
    .rt{
        width: 100%;
    }
}

@media (min-width: 576px) { 
    .phone-vp{
        display: none;
    }

    .lf {
        width: 25%;
    }
    
    .rt{
        width: 75%;
    }
}

@media (min-width: 768px) {
    .lf {
        width: 21%;
    }
    
    .rt{
        width: 79%;
    }
}

@media (min-width: 992px) {
    .lf {
        width: 18%;
    }
    
    .rt{
        width: 82%;
    }
}

@media (min-width: 1200px) {
    
}

@media (min-width: 1400px) {
    .lf {
        width: 15%;
    }
    
    .rt{
        width: 85%;
    }
}